{% extends 'base.html' %}
{% block css %}
    <style>
        .wrapper{
            padding-left: 200px;
        }
        h3{
            margin-top: 0;
        }
        .detail-top{
            height: 150px;
        }
        .detail-content{
            width: 700px;
            height: 230px;
            {#width: 100%;#}
        }
        .content-img{
            float: left;

        }
        .content-info{
            float: left;
            margin-left: 30px;
        }
        .btn{
            width: 200px;
            margin-top: 30px;
            margin-left: 200px;
        }
        .info-title,.info-list{
            border-bottom-color: #a4a6a4;
            border-bottom-style:solid;
            border-width:1px;
        }
        .info-input{
            padding-top: 5px;
        }
        .errors{
            float: right;
            color: #b30f0b;
        }

    </style>
{% endblock %}

{% block js %}
    <script>
        //设置一个定时器=3s后,清掉所有错误信息
        $(function () {
            setTimeout(function () {
                $(".errors").hide()
            }, 3000)
        })
    </script>

{% endblock js %}

{% block content %}
    <div class="wrapper">
        <form id="form" action="/goods/detail/?type_id={{ type_id }}" method="post">
            {% csrf_token %}
            <div class="detail-top"></div>

            <div class="detail-content">
                <div class="content-img">
                    <img src="/media/{{ avatar }}" alt="" width=300 height=170>
                </div>
                <div class="content-info" >
                    <div class="info-title" style="text-align: center;">
                        <h3>{{ title }}</h3>
                    </div>
                    <div class="info-list">
                        类型选择：
                        <ul>
                            {% for level in level_list %}

                                <li>
                                    <input type="radio" onclick="" name="price_id" value={{ level.price_id }} id="{{ level }}">
                                    <label for="{{ level }}">
                                        <span>{{ level.level }}&nbsp;&nbsp;</span>
                                        <span>库存 {{ level.count }}个&nbsp;&nbsp;</span>
                                        <span>{{ level.price }}{{ level.units }}</span>
                                    </label>
                                </li>

                            {% endfor %}
                        </ul>
                    </div>
                    <div class="info-input">
                        购买数量：<input type="text" class="num_show" name="count" style="width: 100px" >个&nbsp;
                        共计：元
                    </div>
                    {% if error.status == 101 %}
                        <span class="errors code">{{ error.msg }}</span>
                    {% endif %}
                </div>
            </div>

            <div class="detail-notice">
                注意事项：大局观三等奖过段时间过段时间金盾股份的思路感受到刘是给送大礼是骄傲的说开了是登录富
            </div>

            <div class="detail-button">
                <button id="submit_btn" class=" btn btn-info" type="submit">立 即 购 买</button>
            </div>
        </form>
    </div>

{% endblock content %}

